@media screen and (max-width:480px) {
  .form-container {
    flex-direction: column;
  }

}

@media screen and (min-width:481px) {
  .form-container {
    flex-direction: row;
  }

}



.form-container{
  display: flex;

.form-left{
  padding:2rem;
  .step-progress{
    padding:1rem;
  }
  .stage-1 {
      .progress-control-container {
        justify-content: end;
    }
}

  .progress-title{
    font-size: 2rem;
    font-weight: 700;
  }
.progress-line {
  position: relative;
  width: 100%;
}

.progress-line::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--grey-light);
  border-width: 1px 0 0 5px;
  content: "";
}
 
}

.form-right{
  width: 100%;
  padding: 2rem;
  .form-right-container{
    background-color: #fff;
    border: 1px solid #F0F0F5;
    padding: 2rem 1.5rem;
  }


  }


}



