.stage-1{
  .progress-control-container {
      justify-content: end;
    }

}


.form-title {
  display: flex;
  flex: 0 0 100%;
  font-weight: 700;
  font-size: 1.5rem;
  line-height:1.5rem;
}

.step-content{
  margin:3rem 0
}

.form-body {

  .col {
    justify-content: space-between;
  }

  .input-group {
    padding:1rem 0.5rem;
    .input-label {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: var(--input-label);
    }

    .select-container {
      position: relative;
      padding-right: 6px;
      text-align: center;
        

      &::after {
        position: absolute;
        top: 50%;
        right: 1px;
        transform: translateY(-50%);
        z-index: -2;
        pointer-events: none;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: var(--select-arrow) transparent transparent transparent;
        content: "";
      }
    }

    input,
    select {
      width: 100%;
      padding: 0.5rem 1rem;
      font-weight: 400;
      font-size: 12px;
      font-family: 'Noto Sans TC', sans-serif;
      line-height: 16px;
      border: 1px solid var(--input-border);
      border-radius: 4px;
      background-color: transparent;
    }

    input {
      color: var(--input-text);
    }


    select {
      color: var(--select-true);
      background-color: transparent;
      appearance: none;   

      &:required:invalid {
        color: var(--select-false);
      }

      cursor: pointer;

      option {
        &[value=""][disabled] {
          display: none;
        }

        color: red;
      }
    }
  }
}