.progress-container{
  height: 1.5rem;
  width: 100%;
  padding: 2rem 1rem;
  .progress-bar{
   border-width: 1px;
    border-style: solid;
  }
  .text{
    font-size: 0.75rem;
    line-height: 1.5rem !important;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 700;
  }
  .text::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    right: 3px;
    z-index: -1;
    }
    .text.submit{
    color: white;
    }
    .text.submit::after{
      background-color: black;
    }

    .text.checked::after {
    background-image: url(https://raw.githubusercontent.com/ALPHACamp/alpha-shop/c66f00cf6be37bc83cf2aa4412224cef51282380/public/icons/pg-complete.svg);
    z-index:2 ;
    }


  }
