.header-container{
  width: 100%;
  .navbar-menu{
     background-color: #fff;
    width: 100%;
  }

  .nav-list .site-menu-list{
      width: 100%;
      .nav-item {
         margin:0;
         width: 2rem;
        font-size: 16px;
      }
    }
    .nav-list .site-action-list{
      .nav-item{
        width: 200px;
      }
    } 

}

@media screen and (min-width:481px) {

  .navbar-menu,
  .navbar-menu .pc {
    display: none;
  }

  .navbar-menu.active {
    display: block;
    background-color: #fff;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }
}

@media screen and (max-width:480px) {
  .navbar-menu,
  .pc-navbar-menu {
      display: none;
    }
  
    .navbar-menu.active {
      display: block;
      background-color: #fff;
      width: 80%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      opacity: 1;
    }
  }