.header-container{
  width: 1440px;
  .nav-list .site-menu-list{
      width: 500px;
      .nav-item {
         margin:0;
        font-size: 16px;
      }
    }
    .nav-list .site-action-list{
      .nav-item{
        width: 200px;
      }
    } 

}
