.header-container{
  width: 100%;
  .navbar-menu{
     background-color: #fff;
    width: 100%;
  }
  .navbar-menu{
    display: flex;
  }
  .nav-list .site-menu-list{
      width: 100%;
      .nav-item {
         margin:0;
         width: 2rem;
        font-size: 16px;
      }
    }
    .nav-list .site-action-list{
      .nav-item{
        width: 200px;
      }
    } 

}

@media screen and (max-width:480px) {
  .navbar-menu {
      display: none;
    }
  
    .navbar-menu.active {
      display: block;
      color: red;
      background-color: #fff;
      width: 200px;
      height: 200px;
      position: absolute;
      top:20px;
      left: 60px;
    }
  }