.cart-container{
  width: 440px;
  height: 492px;
  background-color: #fff;
  border: 1px solid #F0F0F5;
  padding: 32px 24px;
  .cart-title {
  font-size: 18px;
  font-weight: 700;
  }
  .product-container{
    width: 392px;
    height: 102px;
  }
    .img-container {
      width: 100px;
      height: 100px;
    }
}

     


