.cart-container{

  .cart-title {
  font-weight: 700;
  }
  .product-container{
    position: relative;
    min-width: 392px;
    height: 102px;
    padding-left: 5px;
    margin-bottom: 20px;
  }
    .img-container {
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 8%;
    }
    .product-info{
      
      .product-name{
        font-size: 16px;
        position:absolute;
        left:30%;
        top:5%;
      }

      .product-control-minus{
        position: absolute;
        top:50%;
        left:30%;
        z-index: 1;
      }

      .product-control-plus{
        position: absolute;
        top:50%;
        left:53%;
        z-index: 1;
      }

      .product-count,.product-action{
        position:absolute;
        top: 52%;
        left:44%;
      }

      .price{
        font-family: "Nunito Sans", sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: right;;
        position: absolute  ;
        top:5%;
        left:88%;
        font-weight: 700;
      }
    }

    .cart-info {
     min-width: 392px;
     
    }

}

     


